.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.toolbar {
}

.bg {
    position: relative;
    width: 100%;
    flex: 1;
    align-self: center;
    overflow: auto;
}

.captureLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}
