.root {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(2, max-content);
}

.layers {
    grid-column: 1;
    grid-row: 2 / -1;
}

.toolbar {
    grid-column: 2;
    grid-row: 1;
}

.bg {
    grid-column: 2;
    grid-row: 2;

    position: relative;
    width: 600px;
    height: 400px;
    border: 1px solid grey;
}

.captureLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

.cropRect {
    z-index: 1999;
}

.handleNegatives {
    grid-column: 2;
    grid-row: 3;
}
