.root {
    height: 100%;
    background-color: var(--dock-color);

    padding: 2px;
}

.layer {
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.focused {
    color: grey;
    background-color: white;
}

.group {
    outline: 1px solid rgba(255, 255, 255, 0.6);
    margin: 4px 0 4px 16px;
}

.sprite {
    outline: 1px solid rgba(255, 255, 255, 0.6);
    margin: 0 0 0 16px;
}

.buttonIcon {
    cursor: pointer;
}

.label {
    display: inline-block;
    padding: 4px;
    font-weight: bold;
    background-color: var(--focal-color);
    color: white;
}
