.root {
    width: 100%;
    /* At most a sprite has 32 tiles, plus the sprite entry header */
    height: 288px;
    background-color: rgba(255, 255, 255, 0.1);
}

.spriteEntries {
    display: grid;
    overflow-x: auto;
}
