.root {
    height: 100%;
    background-color: #aaa;
    width: 12px;
    border-right: 1px dotted rgba(255, 255, 255, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

.index {
    font-size: 0.8rem;
    writing-mode: vertical-lr;
    height: 24px;
    padding-top: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.focused {
    background-color: #ddd;
}

.spriteContainer {
    flex: 1;
}

.sprite {
    transform: scale(0.75);
}
