.root {
  width: 320px;
  height: 224px;
  background-color: black;
  cursor: pointer !important;
  position: relative;
}

.pauseOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.25s;
}

.pauseOverlay:hover {
  opacity: 1;
}
