.tile {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px;
}
.row {
    width: 16px;
    height: 1px;
    margin: 0;
    padding: 0;
    transform: scaleX(-1);
}

.pixel {
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
}
