.app {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 320px;
}

.composeScreenTrayGrid {
    height: 100%;

    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr;
}

.composeScreen {
    grid-column: 1;
    grid-row: 1 / 2;
}

.spriteTray {
    grid-column: 1;
    grid-row: 3;
}

.emulatorLayersGrid {
    height: 100%;

    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
}

.emulator {
    grid-column: 1;
    grid-row: 1;
}

.layers {
    grid-column: 1;
    grid-row: 2;
}
