:root {
    --main-bg-color: #292929;
    --main-fg-color: #f8f8f8;

    --focal-color: #61bb46;

    --dock-color: #3f3f3f;
    --dock-border-color: #4f4f4f;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box !important;
}
